@import url("https://use.typekit.net/dnl0aot.css");
body {
    margin: 0px;
    padding: 0px;
    font-family: atrament-web, sans-serif;
    font-weight: 600;
    font-style: normal;
    scroll-behavior: smooth;
}

p {
    font-family: atrament-web, sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    font-style: normal;
    letter-spacing: 110%;
    padding: 0px;
    vertical-align: baseline;
}

.flex-container {
    background-color: var(--background);
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: left;
    flex-wrap: wrap;
}

.abstand {
    padding: 60px;
}

.flex-item {
    width: 300px;
    height: 450px;
    padding: 20px;
    margin: 20px;
}

.sweets {
    background-color: #c9d0e2;
}

.vegies {
    background-color: #bdbda3;
}

.drinks {
    background-color: #183a5a;
}

.lunch {
    background-color: #c34129
}

.brunch {
    background-color: #efb758;
}

.rotate {
    rotate: 90deg;
}

.img {
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.nav {
    position: fixed;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: white;
    height: 120px;
    width: 100%;
}

.button {
    width: 10rem;
    height: 3.5rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

.all {
    background-color: rgb(213, 213, 213);
}


/* .button-top {
    position: fixed;
    bottom: 5px;
    right: 60px;
    background-color: rgb(213, 213, 213);
    width: 10rem;
    height: 3.5rem;
    text-align: center;
} */