        html,
        body {
            height: 100%;
            margin: 0;
            overflow-x: scroll;
            font-family: Arial, Helvetica, sans-serif;
        }
        
        h1 {
            color: white;
            transform: rotate(-90deg);
            padding: 0;
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1rem;
            position: absolute;
            bottom: 10%;
        }
        
        .flex-container {
            display: flex;
            flex-flow: row;
            height: 100%;
            width: 8200px;
        }
        
        .flex-item {
            width: 10px;
            height: 100%;
            flex: 1;
            position: relative;
            vertical-align: bottom;
            padding-left: 34px;
            overflow: hidden;
        }
        
        .flex-item:hover {
            flex-grow: 200;
        }
        
        .nes {
            background-color: #d8c6b0;
        }
        
        .water {
            background-color: #c4cccf;
        }
        
        .cap {
            background-color: #865e49;
        }
        
        .brause {
            background-color: #3f4f5f;
        }
        
        .hidden-info {
            display: none;
        }
        /* .DIV {
            width: 20px;
            height: 60%;
        }
        
        .DIV:hover+.hidden-info {
            display: block;
            color: red;
            position: absolute;
            width: 25px;
            height: 100%;
        } */
        
        p {
            hyphens: none;
        }
        
        .op0 {
            opacity: 0%;
        }
        
        .op10 {
            opacity: 10%;
        }
        
        .op20 {
            opacity: 20%;
        }
        
        .op30 {
            opacity: 30%;
        }
        
        .op40 {
            opacity: 40%;
        }
        
        .op50 {
            opacity: 50%;
        }
        
        .op60 {
            opacity: 60%;
        }
        
        .op70 {
            opacity: 70%;
        }
        
        .op80 {
            opacity: 80%;
        }
        
        .op90 {
            opacity: 90%;
        }