@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
p {
    font-family: 'Source Code Pro', monospace;
    font-size: 5vw;
    margin: 0;
    padding: 0;
}

.kalt {
    color: rgb(37, 163, 163);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.speed {
    color: red;
    text-align: center;
    word-spacing: 300%;
}